.bright {
    width: 100%;
    height: 100%;
}

.bright div {
    position: absolute;
}

.bright-red {
    background: red;
}

.bright-green {
    background: greenyellow;
}

.bright-blue {
    background: cyan;
}